<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand navbar-left" href="#">
          <img alt="Brand" src="../../assets/images/supercharge-logo.svg">
          Memory Game
        </a>
      </div>
      Deck size:
      <select [(ngModel)]="boardService.selectedBoardSize" >
        <option *ngFor="let size of boardService.boardSizes" [value]="size">{{size}}</option>
      </select>
      <button class="btn" (click)="selectNewBoardSize()">Select</button>
    </div>
  </nav>